/* 
  1.NETFLIX FONTS
  2.GENERAL SETTINGS
  3.COLOR VARIABLES
    a.HeaderLeft
  4.INDEX.HTML SETTINGS
  5.PROFILE BOXES
  6.PROFILE IMAGES
  7.USERS NAMES & ADD PROFILE SETTINGS
  8.HOME-PAGE.HTML SETTINGS 
    a.NetflixLogoSettings
    b.HomePageBannerImage
    c.BannerTitleImage
    d.BannerTitleDescription
    e.Top10RedIcon&BestTvSeries
    f.MainBannerGeneral
    g.BannerButtonsGeneral
    h.WhiteButton
    i.LightGrayButton
  9.CONTAINER
  10.FOOTER
  11.MEDIA QUERIES(max-width 768px)
    a.GeneralSettings
    b.TitleMainBannerSettings
    c.footer
*/

/* commenti */

/* NETFLIX FONTS */
@font-face {
  font-family: "Netflix Sans Bk";
  src: url("./assets/fonts/NetflixSansBlack.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Netflix Sans Regular";
  src: url("./assets/fonts/NetflixSansRegular.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Netflix Sans Medium";
  src: url("./assets/fonts/NetflixSansMedium.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Netflix Sans Thin";
  src: url("./assets/fonts/NetflixSansThin.ttf");
  font-weight: 100;
  font-style: normal;
}

/* COLOR VARIABLES */
:root {
  --white: #fff;
  --light-gray-1: #dddd;
  --light-gray-2: #e5e5e5;
  --gray-1: #8a8a8a;
  --gray-2: #808080;
  --black: #141414;
  --red: #b9090b;
}

/* GENERAL SETTINGS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

h2{
  font-family: "Netflix Sans Regular";
}

body {
  background-color: var(--black);
}


/************************************************
  INDEX.HTML SETTINGS
*************************************************/
.whoIsWatching {
  background-color: var(--black);
  min-height: 100vh;
  width: 100vw;
}

.logo-section {
  align-items: center;
  background-color: rgb(20, 20, 20);
  display: flex;
  height: 7rem;
  justify-content: flex-start;
  margin: auto;
  width: 95vw;
}

.logo-section a img {
  cursor: pointer;
  height: 4rem;
  width: 10rem;
}

.main-div {
  align-items: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  width: 100vw;
}

.main-div h1 {
  font-size: 6.5rem;
  font-family: "Netflix Sans Regular";
  font-weight: 400;
}

.member-div {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* PROFILE BOXES */
.member-div .btn,
.addIcon {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  height: 10vw;
  margin-top: 64px;
  margin-right: 3.5rem;
  max-height: 20rem;
  max-width: 20rem;
  min-height: 8.4rem;
  min-width: 8.4px;
  outline: none;
  position: relative;
  width: 10vw;
}

/* PROFILE IMAGES */
.member-div .p1 .btn {
  background-image: url("./assets/images/ProfileCard.png");
}
.member-div .p2 .btn {
  background-image: url("./assets/images/ProfileCard\ \(1\).png");
}
.member-div .p3 .btn {
  background-image: url("./assets/images/ProfileCard\ \(2\).png");
}
.member-div .p4 .btn {
  background-image: url("./assets/images/ProfileCard\ \(3\).png");
}
.member-div .p5 .btn {
  background-image: url("./assets/images/ProfileCard\ \(4\).png");
}
.member-div .btn:hover {
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.9);
}

/* USERS NAMES & ADD PROFILE SETTINGS*/
.member-div .btn span {
  bottom: -6rem;
  color: var(--gray-1);
  font-size: 2rem;
  left: 0;
  position: absolute;
  text-transform: capitalize;
  width: inherit;
}

.newProfile {
  background-color: transparent;
}

.newProfile:hover{
  background-color: var(--white);
}

.manageProfile {
  background-color: transparent;
  border: 1px solid var(--gray-1);
  color: var(--gray-1);
  cursor: pointer;
  padding: 0.8rem 2.6rem;
  margin-top: 10rem;
  text-transform: capitalize;
  font-size: 16px;
}

.manageProfile:hover {
  border: 1px solid var(--white);
  color: var(--white);
}



/************************************************
  HOME-PAGE.HTML SETTINGS 
*************************************************/
/* NetflixLogoSettings */
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  width: 115px;
  height: 60px;
}

.left__header__links{
  margin-left: 16px;
  display: flex;
}

.left__header__links ul{
  padding-top: 14px;
  padding-left: 16px;
}

.left__header__links ul li a {
  text-decoration: none;
  color: var(--white);
  font-family: "Netflix Sans Thin";
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.left__header__links ul li {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  margin: 8px;
}

.right__header__links ul{
  display: flex;
  margin: 6px;
  padding-top: 8px;
}

.right__header__links ul li {
  margin: 8px;
  width: 100%;
  display: flex;
  align-items: center;

}


/* HomePageBannerImage */
.banner {
  background-image: url("./assets/images/MoviePoster.png");
  background-size: cover;
  background-position: center;
  color: var(--white);
  object-fit: contain;
  height: 750px;
}


/* BannerTitleImage */
.banner__image img{
  padding-top: 170px;
  margin-right: 100px;
  width: 29%;
}

/* BannerTitleDescription */
.banner__contents {
  height: 16px;
  margin-left: 30px;
  padding-top: 10px;
}


/* Top10RedIcon&BestTvSeries */
.top__red__badge{
  padding-left: 30px;
}

.subtitle {
  display: inline-block;
  font-size: 24px;
  font-family: "Netflix Sans Thin";
  padding-bottom: 30px;
  vertical-align: middle;
  padding-left: 16px;
}

/* MainBannerGeneral */
.banner__description,
.banner__image,
.top_ten,
.banner__buttons,
.logo {
  padding-left: 25px;
}

.banner__description {
  width: 660px;
  height: 132px;
  font-family: "Netflix Sans Regular";
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 33px;
  flex: none;
  order: 2;
  flex-grow: 0;
}


/* BannerButtonsGeneral */
.banner__buttons{
  margin-top: 16px;
}
.banner__button {
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.5rem;
}

.material-symbols-outlined {
  padding-right: 16px;
}


/* WhiteButton */
#white-btn{
  color: var(--black);
  background-color: var(--white);
}


/* LightGrayButton */
#lightgray-btn{
  background-color: rgba(121, 112, 112, 0.322);
  color: var(--white);
}

/* CONTAINER */
.container {
  background: transparent;
  width: 100%;
  margin-top: -168px;
  z-index: 99;
}
.box {
  padding: 0 16px;
  position: relative;
}
.box button img {
  position: absolute;
  top: 50%;
  right: 24px;
}
.container h2 {
  color: var(--white);
  margin-bottom: 8px;
  padding: 4px;
}
.lista {
  display: flex;
  align-content: center;
  position: relative;
  overflow: hidden; 
  scroll-behavior: smooth;
  overflow-x: scroll;
}
.lista::-webkit-scrollbar {
  background: transparent;
}
.lista .show {
  transition: 250ms all;
}

.lista .show:hover {
  transform: scale(1.2);
  background-color: var(--black);
  color: var(--white);
  z-index: 19;
}
.lista .box-info {
  background: var(--black);
  display: none;
  width: 100%;
  padding: 16px;
}
.lista .show:hover .box-info {
  color: var(--white);
  position: absolute;
  left: 0;
  z-index: 20;
  margin-top: -1px;
  display: block;
}
.show {
  padding: 4px;
}
.container-button {
  display: flex;
  width: 100%;
}
.box-button {
  display: flex;
  width: 100%;
}
.box-button .circle-down {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
.box-button .material-symbols-outlined {
  font-size: 40px;
  color: var(--light-gray-2);
}
.section-info {
  font-size: 14px;
}
.vm14 {
  border: 1px solid var(--gray-1);
  padding: 0 8px;
}
.section-info .material-symbols-outlined {
  vertical-align: middle;
  color: var(--light-gray-2);
}
.info {
  margin: 8px 0;
}
.info p {
  color: green;
}
.show-description {
  width: 100%;
  font-size: 14px;
}
.show-description ul {
  display: flex;
  justify-content: space-around;
}

/*Lista 1F*/
.F h2 {
  color: var(--light-gray-2);
  margin-left: 15px;
}
.lista {
  display: flex;
  padding-left: 15px;
  margin-top: 20px;
}
.lista .show {
  padding: 0 2px;
  transition: 250ms all;
}
.lista .show:hover {
  transform: scale(1.2);
}


/* FOOTER */
.footer {
  max-width: 75%;
  margin: 1rem auto;
  overflow: auto;
}

.last__section__image img{
  padding-bottom: 18px;
  padding-top: 24px;
}

.last__section__image {
  padding-top: 60px;
}

.last__section__links ul {
  list-style-type: none;
}

#list_1 li a,
#list_2 li a,
#list_3 li a,
#list_4 li a {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  height: 45px;
  font-family: "Netflix Sans Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: var(--gray-1);
  font-size: 16px;
  font-family: "Netflix Sans Regular";
}

.footer,
.footer a {
  color: var(--gray-1);
  font-size: 16px;
  font-family: "Netflix Sans Regular";
}

.footer-cols ul li{
  padding-bottom: 20px;
}

.footer p {
  margin-bottom: 1.5rem;
}

.footer .footer-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.footer li {
  line-height: 1.9;
}

.footer-cols ul li a {
  text-decoration: none;
}

.footer-cols ul li a img {
  width: 70%;
  height: 30%;
}

.second_link {
  list-style-type: none;
}

/************************************************ 
  MEDIA QUERIES (max-width 987px)
*************************************************/
@media all and (max-width: 987px) {
  .dropdown-icon,
  .ringbell-icon,
  .profile-icon{
    display: none;
  }

  .left__header__links ul li{
    padding-left: 50px;
  }

  .banner__image img{
    padding-top: 200px;
  }
}


/************************************************ 
  MEDIA QUERIES (max-width 768px)
*************************************************/
@media all and (max-width: 768px) {
  /* GeneralSettings */
  /* .main-header, */
  .top__red__badge,
  .banner__description,
  .left__header__links ul,
  .search-icon,
  .dropdown-icon{
    display: none;
  }

  .logo{
    padding-top: 15px;
  }

  .right__header__links ul{
    width: 10%;
    display: flex;
    line-height: 10px;
    align-items: center;
    vertical-align: middle;
  }

  .ringbell-icon{
    display: block;
  }

  .main-header{
    background-color: transparent;
    height: 0;
  }
  body{
    max-width: 768px;
  }

  h2{
    font-size: 18px;
  }

  /* TitleMainBannerSettings */
  .navbar{
    background-color: transparent;
  }

  .banner__image img{
    padding-top: 300px;
  }

  .subtitle{
    display: none;
  }

  #gray_box{
    display: none;
  }

  /* footer */
  .footer .footer-cols{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }


  .footer ul li{
    list-style-type: none;
  }
}

/************************************************ 
  MEDIA QUERIES (max-width 768px) for INDEX.HTML
*************************************************/
@media all and (max-width: 768px) {
  h1{
    text-align: center;
  }

  .member-div .btn, 
  .addIcon{
    min-height: 10px;
  }
}
