/* NETFLIX FONTS */
@font-face {
    font-family: "Netflix Sans";
    src: url("./assets/fonts/NetflixSansBlack.ttf");
    src: url("./assets/fonts/NetflixSansBold.ttf") format("sansbold"),
    url("./assets/fonts/NetflixSansIcon.ttf") format("icon"),
    url("./assets/fonts/NetflixSansLight.ttf") format("light"),
    url("./assets/fonts/NetflixSansMedium.ttf") format("medium"),
    url("./assets/fonts/NetflixSansRegular.ttf") format("regular"),
    url("./assets/fonts/NetflixSansThin.ttf") format("thin");
}

/* GENERAL SETTINGS */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --white: #fff;
    --light-gray-1: #dddd;
    --light-gray-2: #e5e5e5;
    --gray-1: #8a8a8a;
    --gray-2: #808080;
    --black: #141414;
    --red: #b9090b;

}
/*Lista 1F*/
body{
    background-color: #141414;
}
.F{
    display: flex;
    flex-direction: column;
}
/*Lista show*/
.lista{
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    overflow-x: scroll;
    margin: 16px 0;
}
.lista h4{
    color: #fff;
    position: absolute;
    margin: -8px 0;
}
.lista::-webkit-scrollbar{
    background: transparent;
}
.lista .show{
    padding: 16px 2px;
    transition: 250ms all;
}
.lista .show:hover{
    margin: 0 40px;
    transform: scale(1.2);
}
/*Box-info*/
.lista .box-info{
    display: none;
}
.lista .show:hover .box-info{
    padding: 0 8px;
    display: flex;
    background-color: #808080;
}
.play button{
    background-color: #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 4px 8px;
}
.plus img{
    height: 16px;
}
.plus button{
    background-color: #141414;
    border-radius: 50%;
    border: 1px solid;
    border-color: #fff;
    width: 35px;
    height: 35px;
    padding: 6px 8px;
}
.last{
    justify-content: flex-end;
}
.last button{
    background-color: #141414;
    border-radius: 50%;
    border: 1px solid;
    border-color: #fff;
    width: 35px;
    height: 35px;
    padding: 6px 8px;
}
.desc{
    flex-wrap: wrap;
}
/*Freccia*/
.freccia{
    position: absolute;
    padding: 80px 10px;
    text-align: center;
    z-index: 1;
    background: transparent;
    border: none;
}
.freccia:hover{
    background: rgba(20,20,20,.5);
    transition: 250ms all;
}
.frecciad{
    position: absolute;
    right: 0;
    padding: 80px 10px;
    text-align: center;
    z-index: 1;
    background: transparent;
    border: none;
}
.frecciad:hover{
    background: rgba(20,20,20,.5);
    transition: 250ms all;
}
/*Utilities*/
.green{
    color: green;
}